<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Add book</title>
</head>
<body style="background-color: #f0f2f2;">
<div th:insert="Header2.html"></div>
	<div class="container-fluid">
		<div class="card">
			<div class="card-header bg-primary text-white text-center">
				<h4>AddBooks</h4>
                 <p style="color:skyblue">[[${message}]]</p>
			</div>
			<form action="/addbook" method="post" enctype="multipart/form-data" >
				<div class="card-body">
					<div class="row m-2">
						<div class="col-4">Bookname</div>
						<div class="col-6">
							<input type="text" name="bname" class="form-control">
						</div>
					</div>
					<div class="row m-2">
						<div class="col-4">Authorname</div>
						<div class="col-6">
							<input type="text" name="aname" class="form-control">
						</div>
					</div>
					<div class="row m-2">
						<div class="col-4">price</div>
						<div class="col-6">
							<input type="number" name="price" class="form-control">
							
						</div>
					</div>
					<div class="row m-2">
						<div class="col-4">Categories</div>
						<div class="col-6">
							 <select name="category" class="form-control">
						     <option value="">--Select--</option>
						     <option value="Novel">Novel</option>
						     <option value="Movie">Movies</option>
						     <option value="Thriller">Thriller</option>
						   </select>
						</div>
					</div>
					<div class="row m-2">
						<div class="col-4">Upload Photo</div>
						<div class="col-6">
							<input type="file" name="image" class="form-control">
						</div>
					</div>
				
					    	
					<div class="row m-2">
						<div class="col-4"></div>
						<div class="col-6">
							<input type="submit" value="Add" class="btn btn-success">
						</div>
					</div>

				</div>
			</form>
		</div>

	</div>

<div th:insert="Footer.html"></div>
</body>
</html>